{% extends "base.html" %}
{% import  "bootstrap/wtf.html" as wtf%}

{% block title %}
{{ super() }}
Admin tools
{% endblock %}

{% block page_content %}

{% for table in tables %}

<table class="table">
<thead>
    <tr>
        <div>{{ table.query.column_descriptions[0]['name'] }}</div>
    </tr>
    <tr>
        {% for column in table.__table__.columns.keys() %}

        <th>{{ column }}</th>

        {% endfor %}
    </tr>
</thead>
<tbody>
{% for unit in table.query.all() %}
    <tr>
        {% for key in table.__table__.columns.keys() %}
        <td>{{ unit.__dict__[key] }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
<br>
{% endfor %}

<div class="col-md-4">
    <h2>Passing creating</h2>
    {{ wtf.quick_form(passing_create_form) }}
</div>

<div class="col-md-4">
    <h2>Saving day</h2>
    {{ wtf.quick_form(save_day_form) }}
</div>

{% endblock %}
