{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}
{{ super() }}
Таблица посещений
{% endblock %}

{% block page_content %}

{{ wtf.quick_form(form) }}

<br>

<div class="container">
<table id="history_table" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th></th>
        {% for day in meta_list[2] %}
        <th>{{ day }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for user in history %}
    <tr>
        <td>{{ user }}</td>
        {% for TI in history[user] %}
        <td data-toggle="popover" data-html="true" data-container="body">
            {{ TI.total_inside }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            //Установление направления отображения popover
            placement : 'top'
        });
        $('form').submit(function (e) {
            var url = "{{ url_for('main.get_DB') }}"; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), // serializes the form's elements.
                success: function (data) {
                    //
                    document.getElementById("bar").innerHTML = data.data.message;
                    console.log(data)  // display the returned data in the console.
                    // 
                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });

        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                }
            }
        })

        var table = document.getElementById("history_table");
        for (var i = 0, row; row = table.rows[i]; i++) {
            if (row.rowIndex > 0){
                for (var j = 0, col; col = row.cells[j]; j++) {
                    // TODO: check second condition
                    if ((col.cellIndex > 0) & (typeof(col.innerHTML) != undefined)){
                        var temp = col.innerHTML.split(':');
                        var a = (255 - Math.floor((parseInt(temp[0]) * 3600 + parseInt(temp[1]) * 60 + parseInt(temp[2])) / 338)).toString(16);
                        if (a.length == 1) a = '0' + a;
                        col.style.backgroundColor = '#' + a + 'ff' + a;
                        $.ajax({
                            type: "GET",
                            url: "http://127.0.0.1:5000" + '/api/v1.0/passings/' + user_list[col.parentNode.rowIndex - 1] + '/' + date_list[col.cellIndex - 1],
                            headers: {"Authorization": getCookie('auth_token').slice(1, -1)},
                            success: function (data) {
                                console.log(data)
                            }
                        });
                    }
                }
            }
        }
    });


var currentElem = null;
var table = document.getElementById("history_table");
// показать popover на onmouseover
table.onmouseover = function(event) {
    if (currentElem) {
        return;
    }
    var target = event.target;
    while (target != this) {
        if (target.tagName == 'TD') break;
        target = target.parentNode;
    }
    if (target == this) return;
    currentElem = target;
    if (target.cellIndex > 0) {
        re = /(\d{1,2}:){2}\d{1,2}/;
        if (!target.dataset.content & (re.exec(target.innerHTML)[0] !== "0:00:00")){
            getCellMeta(event);
        } else {
            $(target).popover("show");
        };
    }
};

// прятать popover на onmouseout
table.onmouseout = function(event) {
    if (!currentElem) return;
    var relatedTarget = event.relatedTarget;
    if (relatedTarget) { // может быть relatedTarget = null
        while (relatedTarget) {
            if (relatedTarget == currentElem) return;
            relatedTarget = relatedTarget.parentNode;
        }
    }
    $(currentElem).popover("hide");
    currentElem = null;
};

    // возвращает cookie с именем name, если есть, если нет, то undefined
    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }
    Array.prototype.pairs = function () {
        var pairs = [];
        for (var i = 0; i < this.length - 1; i = i + 2) {
            pairs.push(this[i] + ' - ' + this[i + 1]);
        }
        if (this.length % 2){
            pairs.push(this[this.length - 1]);
        }
        return pairs;
    }

    var tbl = document.getElementById("history_table");
    var user_list = "{{ meta_list[0] }}".split(", ");
    var date_list = "{{ meta_list[1] }}".split(", ");
    console.log(user_list, date_list);
    function getCellMeta (e) {
        var cell = e.target || window.event.srcElement;
        if ( (cell.cellIndex > 0) & (cell.parentNode.rowIndex > 0) )
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:5000" + '/api/v1.0/passings/' + user_list[cell.parentNode.rowIndex - 1] + '/' + date_list[cell.cellIndex - 1],
                headers: {"Authorization": getCookie('auth_token').slice(1, -1)},
                success: function (data) {
                    formatted_data = []
                    pattern = /(?:\d{1,2}:){2}\d{1,2}/g;
                    result = [];
                    while (m = pattern.exec(data)){
                        result.push(m[0]);
                    }
                    len = Math.round(result.length / 2)
                    for (var i=0; i < len; i++){
                        // console.log(result[2*i].length, Array(10 - result[2*i].length).join(' '))
                        formatted_data.push('<td>' + result[2 * i] + '</td><td>&nbsp;-&nbsp;</td><td>' + result[2 * i + 1] + '</td>'); 
                    }
                    sec_data = '<table>';
                    for (var i=0; i<formatted_data.length; i++){
                        sec_data += '<tr>' + formatted_data[i] + '</tr>';
                    }
                    sec_data += '</table>';
                    time_table = "<table class='popover-time-table'><tr>";
                    pattern = /\d{24}/;
                    L = pattern.exec(data)[0];
                    for (var i=0; i < 24; i++) {
                        if (L[i] === "1") {
                            time_table += "<th style='background-color: rgb(0, 0, 0);'></th>";
                        } else {
                            time_table += "<th></th>";
                        }
                    }
                    time_table += "</tr></table>";
                    sec_data += time_table;
                    $(cell).attr("data-content", sec_data);
                    $(cell).popover("show");
                }
            });
    }

</script>

{% endblock %}
