{% extends "base.html" %}

{% block title %}
Профиль
{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>{{ user.surname }} {{ user.name }} {{ user.patronymic }}</h1>

    {% if user.role.name == 'Pupil' %}
    <b>Класс</b>: {{ user.form }}
    {% if user.form.form_master %}
    <b>Классный руководитель</b>: {{ user.form.form_master.surname }}&#160;{{ user.form.form_master.name[0] }}.&#160;{{ user.form.form_master.patronymic[0] }}.
    {% endif %}

    {% elif user.role.name == 'Parent' %}
    <b>Дети</b>:
    {% elif user.role.name == 'Teacher' %}
    <b>Предметы</b>:
    <b>Классы</b>:
    <b>Классный руководитель для</b>:
    {% elif user.role.name == 'Headteacher' %}
    <b>Завуч по</b>:
    {% elif user.role.name == 'Headmaster' %}
    <b>Директор</b>

    {% elif user.role.name == 'Admin' %}
    <b>Администратор сервиса</b>
    {% endif %}
</div>

{% endblock %}
